header{
    height: 8vh;
    background-color: salmon;
    color: ivory;
    padding: 25px;
}
.king{ 
    font-size: 35px;
    display: inline-block;
    text-transform: capitalize;
     }
.joy{
    float: right;
}
ul li{
  display: inline-block;
}
     ul li a{
        text-decoration: none;
        color: honeydew;
        padding: 10px;
        font-style: inherit;
        border: 1px solid transparent;
        font-size: 20px;
      } 
      ul li a:hover{
        background-color: white;
        color: black;
     }
      body{
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        background-image: url(../Images/home.jpg);
        page-break-after: url(container1;);
      }
      .books{
        height: 7vh;
        height: 50px;
        width: 1300px;
        margin: 100px auto;
        background-color: salmon;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding-top: 10px;
        font-style: italic;
      } 
      .container{
          position: relative;
          width: 1200px;
          height: 400px;
          margin: 105px auto;
      }
      .container .box{
          position: relative;
          width: 390px;
          height: 650px;
          margin: 5px;
          margin-top: 10px;
          background-color: beige;
          float: left;
          box-sizing: border-box;
          overflow: hidden;
          border-radius: 10px;
          
    
      }
      .box{
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
      }
      .abi li{
        text-align: start;
        padding-left: 5px;
      }
      .abi li a{
          text-decoration: none;
          font-weight: lighter;
          display: inline-block;
          text-align: start;
          padding: 5px;
          font-style: inherit;
          color: cadetblue;
          font-weight: 700;
          text-transform: capitalize;
        }
        .abi li :hover{
            background-color: black;
            color: yellow;
        }
        .nivi li{
          text-align: start;
          padding-left: 6px;
        }
        .nivi li a{
            text-decoration: none;
            font-weight: lighter;
            display: inline-block;
            text-align: start;
            padding: 5px;
            font-style: inherit;
            color: cadetblue;
            font-weight: 350;
            text-transform: capitalize;
          }
          .nivi li a:hover{
              background-color: black;
              color: yellow;
          }
          .vini li{
            text-align: start;
            padding-left: 5px;
          }
          .vini li a{
              text-decoration: none;
              font-weight: lighter;
              display: inline-block;
              text-align: start;
              padding: 5px;
              font-style: inherit;
              color: cadetblue;
              font-weight: 400;
              text-transform: capitalize;
            }
            .vini li :hover{
                background-color: black;
                color: yellow;
            }
            .tamil{
              margin-left: 450px;
              font-weight: bold;
              font-size: 35px;
              width: 435px;
              text-align: center;
              height: 6vh;
            }
            .tamil-1{
              margin-top: 350px;
              margin-left: 450px;
              font-weight: bold;
              font-size: 35px;
              width: 450px;
              text-align: center;
              height: 6vh;
            }
              
            .container-1{
                position: relative;
                width: 1200px;
                height: 400px;
                margin: 150px auto;
                margin-top: 50px;
            }
            .container-1 .box-1{
                position: relative;
                width: 390px;
                height: 650px;
                margin: 5px;
                margin-top: 60px;
                background-color: beige;
                float: left;
                box-sizing: border-box;
                overflow: hidden;
                border-radius: 10px;
                
          
            }
            .box-1{
                font-size: 20px;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
            }
            .abi-1 li{
              text-align: start;
              padding-left: 5px;
            }
            .abi-1 li a{
                text-decoration: none;
                font-weight: lighter;
                display: inline-block;
                text-align: start;
                padding: 5px;
                font-style: inherit;
                color: cadetblue;
                font-weight: 700;
                text-transform: capitalize;
              }
              .abi-1 li :hover{
                  background-color: black;
                  color: yellow;
              }
              .nivi-1 li{
                text-align: start;
                padding-left: 5px;
              }
              .nivi-1 li a{
                  text-decoration: none;
                  font-weight: lighter;
                  display: inline-block;
                  text-align: start;
                  padding: 5px;
                  font-style: inherit;
                  color: cadetblue;
                  font-weight: 400;
                  text-transform: capitalize;
                }
                .nivi-1 li :hover{
                    background-color: black;
                    color: yellow;
                }
                .vini-1 li{
                  text-align: start;
                  padding-left: 5px;
                }
                .vini-1 li a{
                    text-decoration: none;
                    font-weight: lighter;
                    display: inline-block;
                    text-align: start;
                    padding: 5px;
                    font-style: inherit;
                    color: cadetblue;
                    font-weight: 400;
                    text-transform: capitalize;
                  }
                  .vini-1 li :hover{
                      background-color: black;
                      color: yellow;
                  }
            


         


    
